@page
@model IndexModel

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

@{
    ViewData["Title"] = "Home page";
}

<svelte-app stage="Contact"></svelte-app>

@* <span class="badge badge-light-success me-auto" id="spanBadge" /> *@
 @* <span class="badge badge-light-success me-auto" id="spanBadge">{stage}</span> *@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
